* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;

}

:root {

    --background-color: #000000;
    --header-background-color: #000000;
    --text-color: rgb(0, 0, 0);
    --header-text-color: rgb(255, 254, 254);
    --second-color: #ffe77aff;
    --hover-main-color: #EE7F38;
    --other-color: #ffe77aff;

    --big-font: 3.7rem;
    --h2-font: 3.8rem;
    --p-font: 1rem;


}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 60px;
    padding-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
}

/* Custom scroll bar */

html {
    scroll-behavior: smooth;
}

section {
    padding: 100px 0;
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

    /* border: 2px solid #ff0000; */
}



body {
    background: var(--background-color);
    color: var(--text-color);
}

header {

    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header-background-color);
    padding: 5px 2%;
}


.img_logo {

    border-radius: 50px;
    height: 40px;
    width: 40px;
}


.navlist {

    display: flex;
}

.navlist li {

    position: relative;

}

.navlist a {

    color: var(--header-text-color);
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
}

.navlist a::after {

    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--hover-main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.navlist a:hover::after {

    width: 100%;
}


#menu-icon {

    font-size: 26px;
    color: var(--hover-main-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.h-btn a {

    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 900;
    padding: 8px 26px;
    border: 2px solid transparent;
    border-radius: 10%;
    transition: ease, 40s;
}

/* .h-btn .resume{

    color: white;
    background: var(--hover-main-color);
} */


.home {

    height: 100vh;
    width: 100%;
    background: url(../img/bg_final.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: left;
    color: black;

}

.home-text {


    width: 50%;
    padding: 50px;
    margin-left: 50px;

}

.home-text h1 {

    font-size: var(--big-font);
    color: rgb(0, 0, 0);
    line-height: 1.11;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0 0 25PX;
}

.home-text h4 {

    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.21;
    font-weight: 700;
    margin-bottom: 40px;
}

.about {

    background: #EE7F38;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 5rem;
    


}

.about-image img {

    max-width: 70%;
    width: 490px;
    height: auto;
}

.about-text h2 {

    font-size: var(--h2-font);

    color: black;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.2rem;

}

.about-text h5 {

    color: #000;

    font-size: 1.3rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.about-text p {

    font-size: 20px;
    font-weight: 400;
    max-width: 570px;
    line-height: 1.8;
    color: #000;
}





/* Skills section styling */

.skills {
    background: #EE7F38;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    padding-bottom: 40px;
}

.skills .title {
    padding-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.skills p {
    text-align: center;
    font-size: 23px;
    margin: 5px 0;
    color: #b1bec8;
    margin-bottom: 40px;
    font-family: "Ubuntu", sans-serif;
}

.skill-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-content .card .box i {
    font-size: 28px;
    color: #000000;
}

.skill-content .card .box span {
    color: #000000;
}

.skill-content .card .box {
    display: inline-block;
    background: none;
    border: 2px solid #000000;
    color: #fff;
    font-size: 26px;
    margin-left: 25px;
    padding: 10px 26px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.skill-content .card .box:hover {
    background: #010812;
}

.skill-content .card .box:hover i {
    color: #fff;
}

.skill-content .card .box:hover span {
    color: #fff;
}

.skill-content .card:hover .box {
    transform: scale(1.10);
}




/* /////////////////////projects///// */

.projects {
    margin-top: 20px;
    background-color: #EE7F38;
    text-align: center;
}

.project-content {


    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(220px, auto)); */
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 4.4rem;
}

.col {
    position: relative;

}

.col img {
    max-width: 100%;
    width: 620px;
    height: 420px;
    border-radius: 20px;
    border-style: solid ;
    border-width: 10px;
}


.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    transition: all .35s;
}

.layer:hover {
    
    background: linear-gradient(0deg, rgba(57, 57, 57, 0.939) 0%, rgba(59, 59, 59, 0.746) 48%, rgba(235, 118, 0, 0.35898109243697474) 100%);
}

.layer a {
    position: absolute;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color:  #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .35s;
}

.layer:hover a {
  
    bottom: 49%;
    opacity: 1;
    color: #000000;
    background: #EE7F38;
    border-radius: 6px;
    border: 2px solid #000000;
  

}

.layer:hover .link a {
    bottom: 0%;
    opacity: 1;
  

}

.link a {
    display: inline-block;
    background: #000000;
    color: #fff;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 15px solid #000000;
    
    transition: all 0.3s ease;
}

.link a:hover {
    color: #000000;
    background: #EE7F38;
    border-radius: 6px;
    border: 2px solid #000000;
}







/* //////////////learn more and download cv button ////// */


.about .resume a {
    display: inline-block;
    background: #000000;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #000000;
    transition: all 0.3s ease;
}

.about .resume a:hover {
    color: #000000;
    background: #EE7F38;
    border-radius: 6px;
    border: 2px solid #000000;
}
/* ////////////////////Contact/////////////////// */
.contact_info {
    margin-top: 20px;
}

.contact_info {

    display: inline-flex;
    list-style: none;
    text-align: center;
}

.contact_info .icon {
    position: relative;
    background: #000000;
    color: white;
    border-radius: 50%;
    padding: 15px;
    margin: 0px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact_info .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact_info a {


    color: #ffffff;

}

.contact_info .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 10%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact_info .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.contact_info .icon:hover span,
.contact_info .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.contact_info .facebook:hover,
.contact_info .facebook:hover .tooltip,
.contact_info .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}

.contact_info .twitter:hover,
.contact_info .twitter:hover .tooltip,
.contact_info .twitter:hover .tooltip::before {
    background: #000000;
    color: #ffffff;
}

.contact_info .linkedin:hover,
.contact_info .linkedin:hover .tooltip,
.contact_info .linkedin:hover .tooltip::before {
    background: #0077b5;
    color: #ffffff;
}

.contact_info .github:hover,
.contact_info .github:hover .tooltip,
.contact_info .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.contact_info .youtube:hover,
.contact_info .youtube:hover .tooltip,
.contact_info .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}

.contact_info .discord:hover,
.contact_info .discord:hover .tooltip,
.contact_info .discord:hover .tooltip::before {
    background: #7289DA;
    color: #ffffff;
}

.contact {
    background: #EE7F38;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 28px;
    color: #000000;
}

.contact .contact-content .info .head {
    color: #000000;
    font-weight: 400;
}

.contact .contact-content .info .sub-title {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
}

.right form .button-area button {
    color: #fff;
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #000000;
    border: 2px solid #000000;
    transition: all 0.3s ease;
}

.right form .button-area button:hover {
    color: #000000;
    background: none;
}

/* Footer section styling */

footer {
    background: #010812;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

footer span a {
    color: #EE7F38;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

/* /////////////////////////////////////////// */


#leaves {
    position: relative;
    top: 500px;
    width: 100%;
    text-align: center;
}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(to bottom right, #FFCF99, #FFCF99);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) {
    -webkit-animation: falling2 5s 0s infinite;
}

#leaves i:nth-of-type(3n) {
    -webkit-animation: falling3 5s 0s infinite;
}

#leaves i:before {
    position: absolute;
    content: '';
    top: 117px;
    right: 9px;
    height: 27px;
    width: 32px;
    transform: rotate(49deg);
    border-radius: 0% 15% 15% 0%;
    border-top: 1px solid #FFCF99;
    border-bottom: 1px solid #FFCF99;
    border-left: 0px solid #FFCF99;
    border-right: 1px solid #FFCF99;
    background: #FFCF99;
    z-index: 1;
}

#leaves i:after {
    content: '';
    height: 125px;
    width: 10px;
    background: #FFCF99;
    display: block;
    transform: rotate(125deg);
    position: absolute;
    left: 85px;
    border-radius: 50%;
}


#leaves i:nth-of-type(n) {
    height: 23px;
    width: 30px;
}

#leaves i:nth-of-type(n):before {
    width: 7px;
    height: 5px;
    top: 17px;
    right: 1px;
}

#leaves i:nth-of-type(n):after {
    width: 2px;
    height: 17px;
    left: 12px;
    top: 0px;
}

#leaves i:nth-of-type(2n+1) {
    height: 11px;
    width: 16px;
}

#leaves i:nth-of-type(2n+1):before {
    width: 4px;
    height: 3px;
    top: 7px;
    right: 0px;
}

#leaves i:nth-of-type(2n+1):after {
    width: 2px;
    height: 6px;
    left: 5px;
    top: 1px;
}

#leaves i:nth-of-type(3n+2) {
    height: 17px;
    width: 23px;
}

#leaves i:nth-of-type(3n+2):before {
    height: 4px;
    width: 4px;
    top: 12px;
    right: 1px;
}

#leaves i:nth-of-type(3n+2):after {
    height: 10px;
    width: 2px;
    top: 1px;
    left: 8px;
}

#leaves i:nth-of-type(n) {
    -webkit-animation-delay: 1.9s;
}

#leaves i:nth-of-type(2n) {
    -webkit-animation-delay: 3.9s;
}

#leaves i:nth-of-type(3n) {
    -webkit-animation-delay: 2.3s;
}

#leaves i:nth-of-type(4n) {
    -webkit-animation-delay: 4.4s;
}

#leaves i:nth-of-type(5n) {
    -webkit-animation-delay: 5s;
}

#leaves i:nth-of-type(6n) {
    -webkit-animation-delay: 3.5s;
}

#leaves i:nth-of-type(7n) {
    -webkit-animation-delay: 2.8s;
}

#leaves i:nth-of-type(8n) {
    -webkit-animation-delay: 1.5s;
}

#leaves i:nth-of-type(9n) {
    -webkit-animation-delay: 3.3s;
}

#leaves i:nth-of-type(10n) {
    -webkit-animation-delay: 2.5s;
}

#leaves i:nth-of-type(11n) {
    -webkit-animation-delay: 1.2s;
}

#leaves i:nth-of-type(12n) {
    -webkit-animation-delay: 4.1s;
}

#leaves i:nth-of-type(13n) {
    -webkit-animation-delay: 1s;
}

#leaves i:nth-of-type(14n) {
    -webkit-animation-delay: 4.7s;
}

#leaves i:nth-of-type(15n) {
    -webkit-animation-delay: 3s;
}

#leaves i:nth-of-type(n) {
    background: #FFCF99;
}

#leaves i:nth-of-type(2n+2) {
    background: #FFCF99;
    ;
}

#leaves i:nth-of-type(4n+1) {
    background: #FFCF99;
    ;
}

#leaves i:nth-of-type(n) {
    opacity: .7;
}

#leaves i:nth-of-type(3n+1) {
    opacity: .5;
}

#leaves i:nth-of-type(3n+2) {
    opacity: .3;
}

#leaves i:nth-of-type(n) {
    transform: rotate(180deg);
}


#leaves i:nth-of-type(n) {
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes falling {

    0% {
        -webkit-transform:
            translate3d(300, 0, 0) rotate(0deg);
    }

    100% {
        -webkit-transform:
            translate3d(-350px, 700px, 0) rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
    0% {
        -webkit-transform:
            translate3d(0, 0, 0) rotate(-20deg);
    }

    100% {
        -webkit-transform:
            translate3d(-230px, 640px, 0) rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
    0% {
        -webkit-transform:
            translate3d(0, 0, 0) rotate(90deg);
    }

    100% {
        -webkit-transform:
            translate3d(-400px, 680px, 0) rotate(0deg);
        opacity: 0;
    }
}



@media (min-width: 1389px) {
    header {

        padding: 18px 2%;
        transition: .3s;
    }

    section {

        padding: 80px 2%;
        transition: .3s;
    }

    :root {
        --big-font: 4.7rem;
        --h2-font: 2.5rem;
    }

    .home-text h4 {
        font-size: 1.2rem;
    }



}


@media (max-width: 1120px) {

    header {

        padding: 14px 2%;

    }

    .home {
        height: 85vh;
        /* background: url(../img/bg_woutme.png); */
    }

    #menu-icon {

        display: block;
        margin-right: 20px;
    }

    .navlist {
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #EE7F38;
        text-align: center;

        transition: all .35s ease;
    }

    .navlist a {

        display: block;
        padding: 1rem;
        margin: 1.2rem;
        border: none;
        color: #000;
        font-size: larger;
    }

    .navlist a:hover {
        background: #000;
        color: white;
        border-radius: 50px;
    }

    .navlist a::after {
        display: none;
    }

    /* .navlist .active {
        top: 100%;

    } */



}


@media (max-width:770px) {

    .max-width {
        max-width: 930px;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-image {
        text-align: center;
        margin-bottom: 20px;
        padding-top: 20px;

    }

    .about-text {
        text-align: center;
        padding-bottom: 20px;

    }
}

@media(max-width:750px) {
    :root {
        --big-font: 3.5rem;
        --h2-font: 1.9rem;
        --p-font: 0.9rem;
    }


}

@media(max-width: 630px) {


    .max-width {
        padding: 0 23px;
    }

    section {

        padding: 90px 4%;
    }

    header {
        padding: 14px 4%;
    }

    .home {

        /* background: url(../img/bg_woutme.png); */
        align-items: center;
        height: 90vh;

    }

    .home-text h1 {
        color: white;
        font-size: 2.4rem;
        padding-bottom: 20px;
        text-align: left;

    }

    .home-text h4 {
        color: white;
        padding-bottom: 20px;
        text-align: left;
    }

    .navlist.active {
        top: 100%;

    }


    .home-text {
        color: white;
        padding-bottom: 20px;
    }

    .skill-content .card .box i {
        font-size: 20px;
    }

    .skill-content .card .box {
        font-size: 18px;
        margin-left: 15px;
        padding: 8px 16px;
        margin-top: 15px;
    }

}



@media (max-width: 500px) {
    .max-width {
        padding: 0 23px;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .right form .error-box {
        width: 150px;
    }

    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    .project-content .card {
        width: 375px;
        height: 310px;
    }
}



/* 
////////////////////////
//////////////////////
\///////////// */


@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

/* 947px ~ 990px */
@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

/* 690px ~ 946px */
@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .navbar .social {
        display: block;
        /* border: 1px solid #fff; */
        margin-top: 80px;
    }

    .home .max-width .social {
        display: none;
    }

    .navbar .social i {
        font-size: 35px;
        color: #fff;
        margin-left: 10px;
        transition: all 0.3s ease;
    }

    .navbar .social i:hover {
        transform: scale(1.20);
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #010812;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-1 {
        font-size: 20px;
    }

    .home .home-content .text-2 {
        font-size: 65px;
    }

    .home .home-content .text-3 {
        font-size: 25px;
        width: 100%;
    }

    .home .home-content .text-3 a {
        font-size: 25px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

/* 500px ~ 689px */
@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content {
        text-align: center;
    }

    .home .home-content .text-1 {
        font-size: 18px;
    }

    .home .home-content .text-2 {
        font-size: 65px;
    }

    .home .home-content .text-3 {
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
    }

    .home .home-content .text-3 a {
        font-size: 20px;
    }

  
}

/* 403px ~ 499px */
@media (max-width: 500px) {
    .home .home-content {
        text-align: center;
    }

    .home .home-content .text-1 {
        font-size: 18px;
    }

    .home .home-content .text-2 {
        font-size: 55px;
    }

    .home .home-content .text-3 {
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
    }

    .home .home-content .text-3 a {
        font-size: 20px;
    }

    .skill-content .card .box i {
        font-size: 20px;
    }

    .skill-content .card .box {
        font-size: 18px;
        margin-left: 15px;
        padding: 8px 16px;
        margin-top: 15px;
    }

    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .right form .error-box {
        width: 150px;
    }

    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }



    .navbar.sticky {
        padding: 10px 0;
    }

    .navbar .logo img {
        width: 65px;
        height: 65px;
    }
}

/* 402px and below */
@media (max-width: 402px) {
    .home .home-content {
        text-align: center;
    }

    .home .home-content .text-1 {
        font-size: 16px;
    }

    .home .home-content .text-2 {
        font-size: 45px;
    }

    .home .home-content .text-3 {
        font-size: 16px;
        margin-top: 10px;
        width: 100%;
    }

    .home .home-content .text-3 a {
        font-size: 16px;
    }

    .contact .contact-content .row .info {
        margin-left: 15px;
    }

    .skill-content .card .box i {
        font-size: 20px;
    }

    .skill-content .card .box {
        font-size: 18px;
        margin-left: 15px;
        padding: 8px 16px;
        margin-top: 15px;
    }

    

    .navbar.sticky {
        padding: 10px 0;
    }

    .navbar .logo img {
        width: 60px;
        height: 60px;
    }
}